@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #232323;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #ebebeb;
  }
} */
@custom-variant dark (&:where(.dark, .dark *));
body {
  @apply overflow-x-hidden scroll-smooth bg-background text-foreground font-poppins;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
    text-wrap-style: balance;
  }
}
@layer components {
  .btn-primary {
    @apply overflow-hidden bg-primary-btn w-full font-medium text-primary-btn-text capitalize rounded-2xl border-2 border-primary-btn transition duration-500 ease-in-out p-2 [&>span]:contents;
    transform: perspective(1px) translateZ(0);
    &::before {
    @apply content-[''] absolute inset-0 -z-10 bg-white scale-x-0 transition-transform duration-500 ease-out;
    transform-origin: 100% 50%;
  }
    &:hover, &:focus, &:active {
    @apply text-primary-btn-text;

    &::before {
      @apply scale-x-100;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  }
  .btn-secondary {
    @apply overflow-hidden bg-secondary-btn w-full font-medium text-white capitalize rounded-2xl border-2 border-secondary-btn transition duration-500 ease-in-out p-2 [&>span]:contents;
    transform: perspective(1px) translateZ(0);
    &::before {
    @apply content-[''] absolute inset-0 -z-10 bg-white scale-x-0 transition-transform duration-500 ease-out;
    transform-origin: 0 50%;
  }
    &:hover, &:focus, &:active {
    @apply text-primary-btn-text;

    &::before {
      @apply scale-x-100;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  }
    .btn-mid {
    @apply overflow-hidden bg-mid-50 w-full font-medium text-white capitalize rounded-2xl border-2 border-mid-50 transition duration-500 ease-in-out p-2 [&>span]:contents;
    transform: perspective(1px) translateZ(0);
    &::before {
    @apply content-[''] absolute inset-0 -z-10 bg-white scale-x-0 transition-transform duration-500 ease-out;
    transform-origin: 0 50%;
  }
    &:hover, &:focus, &:active {
    @apply text-mid-50;

    &::before {
      @apply scale-x-100;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  }
  .bs-transition {
    @apply transition duration-500 ease-in-out; 
  }
}
@layer utilities {}

@theme inline {
    /* --breakpoint-*: initial; */
  --breakpoint-xs: 280px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-4xl: 1600px;
  --breakpoint-6xl: 1820px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-poppins: var(--font-poppins-sans), Arial, Helvetica, sans-serif;

  /* global color start */
  --color-primary: #C2F15E;
  --color-primary-50: #C5E84A;
  --color-secondary: #8340EE;
  --color-mid: #232323;
  --color-mid-50: #0B0B0E;

  /* specific border color start */
  --color-grey-50: rgba(255, 255, 255, 0.15);
  --color-grey-100: #D4D4D4;

  /* specific button bg start */
  --color-primary-btn: #C5E84A;
  --color-secondary-btn: #7C3AED;

  /* specific button text start */
  --color-primary-btn-text: #0B0B0E;

/* specific text color start */
  --color-grey-text-50:#D5D5D5;
  --color-grey-text-100:#8E8E8E;
  --color-grey-text-200:#737373;

  --color-black-text-50: rgba(11, 11, 14, 0.75);
  --color-black-text-100: #0B0B0E;

  /* specific box-shadow */
  --shadow-light-shadow: 0 29.26px 36.575px -7.315px rgba(0, 0, 0, 0.10), 
                 0 11.704px 14.63px -8.778px rgba(0, 0, 0, 0.10);
}
