@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #232323;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #ebebeb;
  }
} */
@custom-variant dark (&:where(.dark, .dark *));
body {
  @apply overflow-x-hidden scroll-smooth bg-background text-foreground font-poppins;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
    @apply text-balance;
  }
  /* @supports (container-type:scroll-state) {
    header {container-type: scroll-state}
  @container scroll-state(stuck: top) { .logo {}}
  } */
}
@layer components {
  .btn-primary {
    @apply overflow-hidden bg-primary-btn w-full font-medium text-primary-btn-text capitalize rounded-2xl border-2 border-primary-btn transition duration-500 ease-in-out p-2 [&>span]:contents;
    transform: perspective(1px) translateZ(0);
    &::before {
    @apply content-[''] absolute inset-0 -z-10 bg-white rounded-[14px] scale-x-0 transition-transform duration-500 ease-out;
    transform-origin: 100% 50%;
  }
    &:hover, &:focus, &:active {
    @apply text-primary-btn-text;

    &::before {
      @apply scale-x-100;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  }
  .btn-secondary {
    @apply overflow-hidden bg-secondary-btn w-full font-medium text-white capitalize rounded-2xl border-2 border-secondary-btn transition duration-500 ease-in-out p-2 [&>span]:contents;
    transform: perspective(1px) translateZ(0);
    &::before {
    @apply content-[''] absolute inset-0 -z-10 bg-white rounded-[14px] scale-x-0 transition-transform duration-500 ease-out;
    transform-origin: 0 50%;
  }
    &:hover, &:focus, &:active {
    @apply text-primary-btn-text;

    &::before {
      @apply scale-x-100;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  }
  .btn-mid {
    @apply overflow-hidden bg-mid-50 w-full font-medium text-white capitalize rounded-2xl border-2 border-mid-50 transition duration-500 ease-in-out p-2 [&>span]:contents;
    transform: perspective(1px) translateZ(0);
    &::before {
    @apply content-[''] absolute inset-0 -z-10 bg-white rounded-[14px] scale-x-0 transition-transform duration-500 ease-out;
    transform-origin: 0 50%;
  }
    &:hover, &:focus, &:active {
    @apply text-mid-50;

    &::before {
      @apply scale-x-100;
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  }
  .bs-transition {
    @apply transition duration-500 ease-in-out; 
  }
  .text-trim {text-spacing-trim: space-all;}
   .accord-ct .p-accordion-tab {
  @apply border border-white-50 rounded-[14px] md:rounded-[18px] lg:rounded-[22px] overflow-hidden mb-[15px];
 }
   .accord-ct .p-accordion-tab.p-accordion-tab-active {
    @apply shadow-accordion-shadow;
  }
  .accord-ct .p-accordion-tab .accord-ct-icon .p-accordion-header-link {
    @apply bg-white-50 border-0 rounded-none px-4.5 py-3 md:px-5.5 md:py-4 lg:px-7.5 lg:py-6 items-start! flex-row-reverse gap-x-3;
  }
   .accord-ct .p-accordion-tab .accord-ct-icon .p-accordion-header-link .p-accordion-header-text {
  @apply text-sm sm:text-base md:text-lg lg:text-[23px] leading-5! md:leading-6.5! lg:leading-8! text-(--text-black-200) font-medium;
 }
    .accord-ct .p-accordion-tab.p-accordion-tab-active .accord-ct-icon .p-accordion-header-link .p-accordion-header-text {
  @apply font-semibold;
 }
    .accord-ct .p-accordion-tab .p-accordion-header-link, .accord-ct .p-accordion-tab .accord-ct-content {
    @apply bg-white-50;
  }
  .accord-ct .p-accordion-tab.p-accordion-tab-active .p-accordion-header-link, .accord-ct .p-accordion-tab.p-accordion-tab-active .accord-ct-content {
    @apply bg-white;
  }

  .accord-ct .accord-ct-content .p-accordion-content { @apply border-white-50 pt-0! px-4.5 pb-3 md:px-5.5 md:pb-4 lg:px-7.5 lg:pb-6 text-grey-text-300 text-xs sm:text-sm md:text-base lg:text-lg font-normal;}
    .accord-ct .p-accordion-tab .accord-ct-icon .icon-rounded {
    @apply inline-flex items-center justify-center rounded-full transition text-[14px] md:text-[20px] min-w-5 h-5 md:min-w-9 md:h-9 duration-300 ease-in-out text-mid-50 bg-primary-50;
  }
  .accord-ct .p-accordion-tab.p-accordion-tab-active .accord-ct-icon .icon-rounded {
    @apply bg-secondary text-white rotate-180;
  }

  

}
@layer utilities {}

@theme inline {
    /* --breakpoint-*: initial; */
  --breakpoint-xs: 280px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-4xl: 1600px;
  --breakpoint-6xl: 1800px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-poppins: var(--font-poppins-sans), Arial, Helvetica, sans-serif;
  --font-playfair: var(--font-playfair-sans), Arial, Helvetica, sans-serif;

  /* global color start */
  --color-primary: #C2F15E;
  --color-primary-50: #C5E84A;
  --color-primary-100: #BFE867;
  --color-secondary: #8340EE;
  --color-secondary-lt: #e5daf5;
  --color-mid: #232323;
  --color-mid-50: #0B0B0E;
  --color-mid-100: #2e2e2e;
  --color-white-50: #f7f7f7;
  --color-white-100: #FEFCFD;

  /* specific border color start */
  --color-grey-50: rgba(255, 255, 255, 0.15);
  --color-grey-100: #D4D4D4;

  /* specific button bg start */
  --color-primary-btn: #C5E84A;
  --color-secondary-btn: #7C3AED;

  /* specific button text start */
  --color-primary-btn-text: #0B0B0E;

/* specific text color start */
  --color-grey-text-50:#D5D5D5;
  --color-grey-text-100:#8E8E8E;
  --color-grey-text-200:#737373;
  --color-grey-text-300:#525252;
  --color-grey-text-400:rgba(255, 255, 255, 0.70);
  --color-grey-text-500:rgba(255, 255, 255, 0.60);

  --color-grey-border-50: rgba(255, 255, 255, 0.10);

  --color-black-text-50: rgba(11, 11, 14, 0.75);
  --color-black-text-100: #0B0B0E;

  /* specific box-shadow */
  --shadow-light-shadow: 0 29.26px 36.575px -7.315px rgba(0, 0, 0, 0.10),0 11.704px 14.63px -8.778px rgba(0, 0, 0, 0.10);
  --shadow-accordion-shadow: 0 12.874px 19.311px -3.862px rgba(0, 0, 0, 0.10), 0 5.15px 7.724px -5.15px rgba(0, 0, 0, 0.10);
      
}
